@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansBold.woff2') format('woff2'),
        url('../fonts/OpenSansBold.woff') format('woff'),
        url('../fonts/OpenSansBold.ttf') format('truetype'),
        url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff'),
        url('../fonts/OpenSansRegular.ttf') format('truetype'),
        url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansSemibold.woff2') format('woff2'),
        url('../fonts/OpenSansSemibold.woff') format('woff'),
        url('../fonts/OpenSansSemibold.ttf') format('truetype'),
        url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: '911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo';
    src: url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.eot');
    src: url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.eot') format('embedded-opentype'),
        url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.woff2') format('woff2'),
        url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.woff') format('woff'),
        url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.ttf') format('truetype'),
        url('../fonts/911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo.svg#911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo') format('svg');
}

root { 
    display: block;
}
body{
    background: #fff;
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: block;
    overflow: hidden;
}
.wapper{
    width: 100%;
    background: #fff;
    display: block;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
}

/* header */
.header{
    float: left;
    width: 100%;
    border-bottom: 4px solid #dc0000;
}
.header .logo-main{
    float: left;
    padding: 20px 0 0 0;
}
.header .logo-main img{
    width: 163px;
}
.header .logo-main a{
    float: left;
}
.header .nav-bar{
    float: right;
    width: auto;
    margin-top: 5%;
}
.nav-bar .nav-bar-ul{
    width: 100%;
    float: left;
}
.nav-bar-ul .nav-bar-li{
    float: left;
    list-style: none;
    margin: 0 35px 0 0;
    padding: 5px 5px 5px 5px;
}
.nav-bar-ul .nav-bar-li:last-child {
    margin-right: 0px;
}
.nav-bar-li .nav-bar-anchor{
    text-decoration: none;
    float: left;
    font-family: '911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo';
    font-size: 17px;
    color: #13140e;
}
.nav-bar-li .nav-bar-anchor:hover{
    color: #db0504;
}
.slider-position{
    position: relative;
    float: left;
}
.slider-wth-box{
    position: absolute;
    left: 189px;
    top: 15%;
    z-index: 100;
    width: 37.5%;
    background: rgba(255, 255, 255, 0.74);
}
.slider-wth-box h2{
    font-family: 'OpenSansBold';
    font-size: 26px;
    float: left;
    width: 100%;
    padding: 14px 0 8px 20px;
}
.slider-wth-box p{
    font-family: 'OpenSansRegular';
    float: left;
    text-align: justify;
    width: 100%;
    padding: 0 20px 9px 20px;
    line-height: 26px;
    font-size: 14.5px;
}
.slider-wth-box .phone-num{
    float: left;
    width: 97%;
    margin: 0 0 0 20px;
    padding: 0 0 18px 0;
    font-size: 21.5px;;
}
.slider-wth-box .tel{
    color: #dc0000;
    float: left;
    width: 100%;
}
.slider-wth-box .tel span{
    color: #13140e;
}
.slider-wth-box h3{
    font-family: 'OpenSansBold';
    float: left;
    width: 30.5%;
}
.slider-wth-box a{
    font-family: 'OpenSansBold';
    float: left;
    text-decoration: none;
    margin: 0 0 20px 20px;
    border: 1px solid #000;
    color: #fff;
    background: #000;
    font-size: 18px;
    padding: 6px 21px 6px 20px;
    border-radius: 5px;
}
.slider-wth-box a:hover{
    border: 1px solid #dc0000;
    background: #dc0000;
}
.get{
    position: absolute;
    z-index: 100;
    top: 74%;
    right: 16%;
    font-size: 18px;
}
.get a{
    font-family: '911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo';
    text-decoration: none;
    color: #fff;
    border: 1px solid #11426f;
    background: #11426f;
    padding: 10px 100px 10px 100px;
    border-radius: 30px;
}
.get a:hover{
    border: 1px solid #dc0000;
    background: #dc0000; 
}
/* banner */

.main-banner{
    float: left;
    width: 100%;
}
.main-banner .container-banner{
    max-width: 1367px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
/* content */

.contant{
    float: left;
    width: 100%;
    background-color: #13140e;
}
.contant .contant-blocks{
    color: #fff;
    width: 45%;
    float: left;
    padding: 45px 0 22px 0;
    margin: 0 5% 0 0;
}
.contant .contant-blocks:last-child {
    margin-right: 0;
}
.contant .contant-blocks h3{
    font-family: 'OpenSansBold';
    font-size: 28px;
    padding: 0 0 8px 0;
    float: left;
}
.contant .contant-blocks p{
    font-family: 'OpenSansRegular';
    font-size: 14.5px;
    text-align: justify;
    color: #939391;
    float: left;
    line-height: 27px;
    height: 155px;
    max-height: 155px;
}
.contant .contant-blocks a{
    font-family: 'OpenSansBold';
    float: left;
    color: #e9e9e9;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    font-size: 19px;
}
.contant .contant-blocks a:hover{
    color: #13140e;
    background: #fff;
}
/* about our services */

.about-services{
    float: left;
    width: 100%;
}
.about-services .border-bottom{
    border-bottom: 1px solid #b6bbc1;
    padding: 0 0 13px 0;
}
.about-services .about-services-contant{
    float: left;
    width: 61%;
}
.about-services .about-services-contant h3{
    font-family: 'OpenSansBold';
    color: #00325f;
    font-size: 28px;
    text-align: left;
    float: left;
    width: 100%;
    padding: 28px 0 13px 0;
}
.about-services .about-services-contant p{
    font-family: 'OpenSansRegular';
    font-size: 15.9px;
    text-align: justify;
    float: left;
    color: #333430;
    width: 97%;
    padding: 0 0 3px 0;
    line-height: 27px;

}
.about-services .about-services-video{
    float: left;
    width: 39%;
}
.about-services .about-services-video .video-iframe{
    float: left;
    width: 100%;
    height: 335px;
    padding: 50px 0 0 0;
}
.about-services .about-services-video a{
    font-family: '911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo';
    float: left;
    font-size: 24px;
    border: 1px solid #00325f;
    padding: 15px 26% 15px 25%;
    margin: 20px 0px 33px 0;
    background: #00325f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.about-services .about-services-video a:hover{
    border: 1px solid #dc0000;
    background: #dc0000;
}
.about-services ul{
    float: left;
    color: #13140e;
    width: 114%;
    list-style: none;
    line-height: 35px;
}
.about-services li{
    font-family: 'OpenSansSemibold';
    float: left;
    font-size: 15px;
    width: 49%;
    text-align: left;
}
.about-services ul img{
    float: left;
    padding: 13px 7px 0px 0px;
}
.yards-block{
    float: left;
    width: 100%;
}
.yards-block1{
    background: #f1f1f1;
    border-top: 1px solid #c8ccd1;
    padding: 35px 0 10px 0;
}
.yards-block ul{
    float: left;
    width: 100%;
    list-style: none;
    padding: 14px 0 0 0;
}
.yards-block li{
    float: left;
    width: 20%;
}
.yards-block li img{
    width: 90%;
    padding: 0 0 9px 0;
}
.yards-block li h4{
    font-family: 'OpenSansSemibold';
    float: left;
    text-align: left;
    font-size: 15px;
    width: 100%;
    padding: 0 0 0 9%;
}
.yards-block li p{
    font-family: 'OpenSansRegular';
    font-size: 15px;
    float: left;
    padding: 15px 0 20px 9%;
}
.yards-block li ul{
    float: left;
    width: 100%;
    list-style: none;
    text-align: left;
    padding: 0 0 0 9%;
}
.yards-block li ul li{
    font-family: 'OpenSansRegular';
    font-size: 15px;
    float: left;
    width: 100%;
    padding: 0 0 12px 22px;
    background: url(../images/HBS-errow_06.png) no-repeat 0px 5px;
}
.prohibited_items{
    float: left;
    width: 100%;
    background: #f1f1f1;
    border-top: 1px solid #c8ccd1;
    padding: 20px 0 0 0;
}
.prohibited_items h3{
    font-family: 'OpenSansBold';
    color: #00325f;
    font-size: 28px;
    text-align: left;
    float: left;
    width: 100%;
}
.prohibited_items ul{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    text-align: left;
    list-style: none;
    font-size: 14px;
    padding: 20px 0 20px 0;
}
.prohibited_items ul li{
    float: left;
    width: 25%;
    padding: 0 0 17px 0;
}
.prohibited_items ul li span{
    color: #930000;
}
.add-4-call{
    float: left;
    width: 100%;
}
.add-4-call img{
    padding: 14px 0 10px 0;
    width: 60%;
}
/*why hair us*/
.why-hair-us{
    float: left;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1;
}
.why-hair-us h3{
    font-family: 'OpenSansBold';
    text-align: center;
    font-size: 31px;
    color: #00325f;
    padding: 17px 0 22px 0;
}
.why-hair-us .video-iframe2{
    float: left;
    padding: 5px 0 0 0;
    width: 29%;
}
.why-hair-us .video-iframe2 iframe{
    width: 100%;
    height: 208px;
    float: left;
}
.why-hair-us .why-hair-us-contant{
    float: left;
    width: 70%;
    padding: 0 0 0 2%;
}
.why-hair-us .why-hair-us-contant p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    padding: 0 0 4% 0;
    font-size: 15px;
    text-align: justify;
    line-height: 23px;
}
.why-hair-us .why-hair-us-contant h4{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    padding: 0 0 1% 0;
    text-align: left;
}
.why-hair-us .why-hair-us-contant ul{
    float: left;
    list-style: none;
    width: 100%;
}
.why-hair-us .why-hair-us-contant li{
    float: left;
    width: 25%;
}
.why-hair-us .why-hair-us-contant li img{
    width: 96%;
}
.why-hair-us .call-us{
    font-family: 'OpenSansBold';
    float: left;
    font-size: 17.5px;
    color: #00325f;
    width: 100%;
    text-align: center;
    padding: 30px 0 28px 0;
}
/*map and cities*/
.map-cities{
    float: left;
    width: 100%;
    padding: 30px 0 33px 0;
}
.map-cities .map{
    float: left;
    width: 40%;
}
.map-cities .map h3{
    font-family: 'OpenSansBold';
    font-size: 28px;
    color: #063662;
    float: left;
    text-align: left;
    width: 100%;
    padding: 0 0 20px 0;
}
.map-cities .map iframe{
    float: left;
    width: 95%;
    height: 380px;
    margin: 0 0 0 0;
    border: none;
}
.map-cities .dumper-cities{
    float: left;
    width: 60%;
}
.dumper-cities h3{
    font-family: 'OpenSansBold';
    font-size: 28px;
    color: #063662;
    text-align: left;
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
.dumper-cities .dumper-cities-details{
    float: left;
    width: 100%;
    height: 380px;
    background: #f1f1f1;
    overflow-y: auto;
    border: 1px solid #dbdde0;
    font-family: Myriad Pro;
    padding: 20px 10px 10px 3%;
}
.dumper-cities-details ul{
    float: left;
    list-style: none;
    width: 100%;
    line-height: 27px;
    text-align: left;
}
.dumper-cities-details li{
    font-family: 'OpenSansRegular';
    color: #333333;
    font-size: 15px;
    float: left;
    width: 30%;
}
.dumper-cities-details li a{
    text-decoration: none;
    color: #333333;
}
/*footer*/
.footer{
    float: left;
    width: 100%;
    color: #fff;
    background: #13140e;
    padding: 0 0 20px 0;
}
.footer .footer-main{
    float: left;
    width: 100%;
}
.footer .footer-main .quick-links{
    float: left;
    width: 19%;
}
.footer .footer-main h3{
    font-family: 'OpenSansBold';
    float: left;
    color: #e2e4e6;
    width: 100%;
    padding: 25px 0px 9px 10%;
    font-size: 18px;
    text-align: left;
}
.footer .footer-main .quick-links a{
    color: #aeb3b9;
    text-decoration: none;
}
.footer .footer-main ul{
    font-family: 'OpenSansRegular';
    float: left;
    color: #aeb3b9;
    width: 100%;
    list-style: none;
    line-height: 26px;
    padding: 0 0 0 10%;
    text-align: left;
}
.footer .footer-main .testimonials{
    float: left;
    width: 46%;
    padding: 0 0 0 3%;
}
.footer .footer-main .testimonials h3{
    font-family: 'OpenSansBold';
    float: left;
    color: #e2e4e6;
    width: 100%;
    padding: 25px 0px 20px 0%;
    font-size: 18px;
}
.footer .footer-main .testimonials .testimonials-box{
    font-family: 'OpenSansRegular';
    float: left;
    width: 95%;
    font-size: 14px;
    text-align: justify;
    color: #aeb3b9;
    padding: 15px 15px 15px 18px;
    border: 1px solid #a2a6ab;
    border-radius: 5px;
    background: #42433e;
    position: relative;
    line-height: 22px;
}
.footer .footer-main .testimonials .box-nok{
    position: absolute;
    left: 32px;
    bottom: -16px;
}
.footer .footer-main .testimonials h4{
    font-family: 'OpenSansBold';
    float: left;
    color: #e2e4e6;
    width: 100%;
    padding: 20px 0 0 4px;
    text-align: left;
}
.footer .footer-main .contant-us{
    float: left;
    width: 34%;
}
.footer .footer-main .contant-us h3{
    font-family: 'OpenSansBold';
    float: left;
    color: #e2e4e6;
    width: 100%;
    padding: 25px 0px 20px 3%;
    font-size: 18px;
}
.footer-main .contant-us .contantul1{
    padding: 0px 0 16px 11px;
    font-size: 16px;
}
.footer-main .contant-us .contantul{
    padding: 0 0 16px 11px;
    font-size: 16px;
}
.footer-main .contant-us .contantli{
    float: left;
    width: 100%;
    line-height: 19px
}
.copy-right{
    float: left;
    width: 100%;
}
.copy-right p{
    font-family: Century Gothic;
    float: left;
    font-size: 15px;
    width: 50%;
    padding: 16px 0 0 17px;
    text-align: left;
}
.copy-right ul{
    float: right;
    width: 16%;
    list-style: none;
    padding: 7px 0 0 0;

}
.copy-right li{
    float: left;
}
.copy-right li img{
    width: 80%;
}

/* why hire us */
.why-hair-us_main{
    float: left;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1;
}
.why-hair-us_main h3{
    font-family: 'OpenSansBold';
    text-align: center;
    font-size: 31px;
    color: #00325f;
    padding: 17px 0 22px 0;
}
.why-hair-us_main p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    padding: 0 0 2% 0;
    font-size: 15px;
    text-align: justify;
    line-height: 23px;
}
.why-hair-us_main .video-iframe_main{
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
.video-iframe_main .video-iframe2{
    float: left;
    padding: 5px 0 0 0;
    margin: 0 5% 0 0;
}
.video-iframe_main .video-iframe2:last-child{
    margin-right: 0px;
}
.why-hair-us_main .why-hair-us-contant{
    float: left;
    width: 100%;
}
.why-hair-us_main .why-hair-us-contant h4{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    padding: 0 0 2% 0;
    text-align: left;
}
.why-hair-us_main .why-hair-us-contant ul{
    float: left;
    list-style: none;
    width: 100%;
}
.why-hair-us_main .why-hair-us-contant li{
    float: left;
    margin: 0 5.6% 0px 0;
}
.why-hair-us_main .why-hair-us-contant li:last-child{
    margin-right: 0px;
}
.why-hair-us_main .call-us{
    font-family: 'OpenSansBold';
    float: left;
    font-size: 17.5px;
    color: #00325f;
    width: 100%;
    text-align: center;
    padding: 30px 0 28px 0;
}
.main-buttons{
    float: left;
    width: 100%;
    border-bottom: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1;
    background: #f1f1f1;
    padding: 25px 0 25px 0;
    position: relative;
}
.main-buttons ul{
    float: left;
    width: 100%;
    list-style: none;
}
.main-buttons .buttons{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.main-buttons .buttons:last-child{
    margin-right: 0px;
}
.main-buttons .buttons a{
    font-family: '911Fonts_com_CenturyGothicBold_911fonts_comfontspMgo';
    float: left;
    width: 100%;
    font-size: 21px;
    border: 1px solid #00325f;
    padding: 15px 26% 15px 25%;
    background: #00325f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.main-buttons .buttons a:hover{
    border: 1px solid #dc0000;
    background: #dc0000;
}
.page_name{
    float: left;
    width: 100%;
    padding: 25px 0 25px 0;
    background: #f1f1f1;
}
.page_name h2{
    font-family: 'OpenSansBold';
    font-size: 28px;
    float: left;
    width: 100%;
    text-align: left;
}
.junk_removal_contant{
    float: left;
    width: 100%;
    background: #f1f1f1;
    padding: 25px 0 25px 0;
}
.junk_removal_contant p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: justify;
    padding-bottom: 10px;
}
.form_container{
    float: left;
    width: 100%;
    border-bottom: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1;
    background: #f1f1f1;
    padding: 30px 0 30px 0;
}
.form_container h3{
    font-family: 'OpenSansBold';
    font-size: 24px;
    color: #063662;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 0 35px 0;
}
.form_container .input_fields{
    margin: 0 auto;
    overflow: hidden;
    display: block;
    width: 100%;
}
.form_container .input_fields input{
    width: 30%;
    padding: 7px 4px 7px 6px;
    margin: 0px 5% 40px 0;
    border-radius: 5px;
    border: 2px solid #c8ccd1;
}
.form_container .input_fields textarea{
    width: 31%;
    height: 150px;
    min-height: 150px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #c8ccd1;
}
.submit{
    float: left;
    width: 100%;
}
.submit button{
    padding: 7px 20px 7px 20px;
    margin: 35px 0 0 0;
    border-radius: 5px;
    border: 1px solid #00325f;
    background: #063662;
    color: #fff;
}
.submit button:hover{
    border: 1px solid #dc0000;
    background: #dc0000;
}
.dumpers-container{
    float: left;
    width: 100%;
    padding: 55px 0 0 0;
    border-bottom: 1px solid #c8ccd1;
}
.dumpers-container .main-dumper{
    float: left;
}
.dumpers-container .sub-dumpers{
    float: left;
    width: 39%;
}
.dumpers-container .sub-dumpers img{
    float: left;
    padding: 0 0 75px 13%;
}
.dumpers-container .sub-dumpers img:last-child{
    padding-bottom: 0px;
}
.junkmap{
    float: left;
    width: 100%;
    padding: 25px 0 25px 0;
}
.junkmap h3{
    font-family: 'OpenSansBold';
    font-size: 28px;
    float: left;
    width: 100%;
    color: #00325f;
    text-align: left;
    padding: 0 0 20px 0;
}
.junkmap p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: justify;
    padding-bottom: 10px;
}
.junkmap iframe{
    width: 100%;
    height: 400px;
    border: none;
}
.login-page{
    float: left;
    width: 100%;
    background: #f1f1f1;
}
.login-page .login-box{
    margin: 0 auto;
    overflow: hidden;
    display: block;
    width: 50%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    margin-top: 65px;
    margin-bottom: 70px;
    border-radius: 25px;
    -webkit-box-shadow: -1px 2px 15px 2px rgba(193,193,193,1);
    -moz-box-shadow: -1px 2px 15px 2px rgba(193,193,193,1);
    box-shadow: -1px 2px 15px 2px rgba(193,193,193,1);
}
.login-page .login-box h2{
    font-family: 'OpenSansBold';
    font-size: 25px;
    float: left;
    width: 100%;
    color: #00325f;
    text-align: center;
    padding: 20px 0 20px 0;
}
.login-page .login-box form{
    float: left;
    width: 100%;
}
.login-box form h4{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding: 0 0 7px 0;
}
.login-box form input{
    float: left;
    width: 100%;
    padding: 12px 0 12px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    background: #c1c1c1;
}
.login-button{
    float: left;
    width: 100%;
    padding: 10px 0 20px 0;
}
.login-button button{
    color: #fff;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 20px;
    background: #11426f;
}
.click-here{
    float: left;
    width: 100%;
}
.click-here p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 10px 0 0 0;
}
.click-here p a{
    text-decoration: none;
}
.residenrial_main{
    float: left;
    width: 100%;
    padding: 20px 0 30px 0;
    border-top: 1px solid #c8ccd1;
    background: #f1f1f1
}
.residenrial_main h3{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    font-size: 21px;
    text-align: left;
    padding: 15px 0 9px 0;
}
.residenrial_main p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: justify;
    padding-top: 10px;
}
.examples_and_contact{
    float: left;
    width: 100%;
}
.examples_and_contact .examples{
    float: left;
    width: 45%;
}
.examples_and_contact .examples ul{
    float: left;
    width: 100%;
    list-style: none;
    line-height: 30px;
}
.examples_and_contact .examples li{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    text-align: left;
    background: url(../images/HBS-errow_06.png) no-repeat 0;
    padding: 0 0 0 22px;
}
.examples_and_contact .contact{
    float: right;
    width: 45%;
}
.Commercial_main{
    float: left;
    width: 100%;
    padding: 20px 0 30px 0;
    border-top: 1px solid #c8ccd1;
    background: #f1f1f1
}
.Commercial_main h3{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    font-size: 21px;
    text-align: left;
    padding: 15px 0 9px 0;
}
.Commercial_main p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: justify;
    padding-top: 10px;
}
.our_focus_main{
    float: left;
    width: 100%;
}
.our_focus_main .our_focus{
    float: left;
    width: 45%;
}
.our_focus_main .our_focus ul{
    float: left;
    width: 100%;
    list-style: none;
    line-height: 30px;
}
.our_focus_main .our_focus li{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    text-align: left;
    background: url(../images/HBS-errow_06.png) no-repeat 0px 9px;
    padding: 0 0 0 22px;
}

.popup-file{
    float:left;
    display: none;
}
.popup-file .popup-bg{
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background:rgba(0, 0, 0, 0.68);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
}
.popup-file .popup-main{
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 0;
    z-index: 1000;
}
.popup-file .popup-main .popup-content{
    position: relative;
    width: 35%;
    background: #fff;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    padding: 10px 30px 10px 30px;

}
.popup-file .popup-main .popup-content img{
    float: right;
}
.popup-file .popup-main .popup-content h4{
    font-family: 'OpenSansBold';
    font-size: 20px;
    float: left;
    width: 100%;
    text-align: left;
    padding: 0 0 10px 0;
}
.popup-file .popup-main .popup-content p{
    font-family: 'OpenSansRegular';
    float: left;
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 0 0 10px 0;
}
.popup-file .popup-main .popup-content select{
    float: left;
    padding: 4px 73px 4px 5px;
    margin: 0 2% 0 0;
    border-radius: 3px;
}
.year{
    margin-right: 0px !important;
}
.popup-file .popup-main .popup-content input{
    float: left;
    width: 100%;
    padding: 5px 0px 5px 9px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}
.popup-file .popup-main .popup-content .request-date{
    float: left;
    width: 100%;
    padding: 0 0 15px 0;
}
.popup-file .popup-main .popup-content .request-date label{
    font-family: 'OpenSansSemibold';
    float: left;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 0 0 10px 0;
}
.popup-file .popup-main .popup-content .call-check{
    float: left;
    width: 100%;
    padding: 6px 0 15px 0;
}
.popup-file .popup-main .popup-content .inputs{
    float: left;
    width: 100%;
    padding: 0 0 15px 0;
}
.input-left{
    float: left;
    width: 47%;
    margin-right: 5%;
}
.input-right{
    float: right;
    width: 48%;
}
.popup-file .popup-main .popup-content .inputs label{
    font-family: 'OpenSansSemibold';
    float: left;
    width: 100%;
    font-size: 14px;
    text-align: left;
    padding: 0 0 5px 0;
}
.popup-file .popup-main .popup-content .select{
    float: left;
    width: 100%;
    padding: 0px 0 15px 0;
}
.popup-file .popup-main .popup-content .select label{
    font-family: 'OpenSansSemibold';
    float: left;
    width: 100%;
    text-align: left;
    font-size: 14px;
}
.popup-content h5{
    font-family: 'OpenSansBold';
    float: left;
    width: 30%;
    text-align: left;
}
.popup-file .popup-main .popup-content .check_box{
    float: left;
    width: auto;
    margin: 3px 0 0px 0px;
}
.popup-file .popup-main .popup-content .yards{
    width: 100% !important;
    margin-top: 10px;
}
.submit_button{
    margin: 0 auto;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 8px 0 0px 0;
}
.submit_button button{
    color: #fff;
    padding: 10px 35px 10px 35px;
    border: none;
    border-radius: 20px;
    background: #11426f;
}
.submit_button button:hover{
    background: #dc0000;
}
.submit_button h3{
    font-family: 'OpenSansBold';
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
}